body {
    font-family: "Comic Sans MS", monospace;
    font-weight: bold;
    font-size: 30px;
}

.invisibleButtons {
    background-color: transparent;
    border: none;
    font-size: 0;
    cursor: auto;
}

.invisibleButtons:hover {
    background-color: transparent;
}

table {
    outline: 5px solid black;
    height: 90%;
    width: 90%;
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
    background: white;
}
.neuronNumber{
    margin-left: 20px;
}
table tr td {
    border: 1px solid black;
}

table tr td:hover {
    background-color: #ffeb87;
}

table tr td.elem {
    cursor: pointer;
}

table tr td.elem.wall {
    background-color: #4d4d4d;
}
table tr td.elem.wall:hover {
     background-color: rgba(101, 101, 101, 0.32);
 }
