body {
    font-family: "Comic Sans MS", monospace;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 30px;
}

button {
    cursor: pointer;
    margin: 20px;
    height: 50px;
    width: 150px;
    font-family: "Comic Sans MS", monospace;
    font-size: 20px;
    background: aqua;
    border-radius: 10px;
}

button:hover {
    background-color: #c500d9;
}

.container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionSetting {
    display: flex;
    border: 3px solid blue;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

}

.table-container {
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    margin-right: 30px;
    width: 650px;
    height: 650px;
}

.settings-container {
    display: block;
    justify-content: center;
    margin-right: 60px;
    margin-left: 30px;
    border: 2px solid red;
    width: 850px;
    height: 850px;
    min-width: 840px;
    min-height: 840px;

}

table {
    outline: 5px solid black;
    height: 90%;
    width: 90%;
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
}



table tr td {
    border: 1px solid black;
}

table tr td:hover {
    background-color: #ffeb87;
}

table tr td.elem {
    cursor: pointer;
}

table tr td.elem.wall {
    background-color: #4d4d4d;
}
table tr td.elem.wall:hover {
     background-color: rgba(101, 101, 101, 0.32);
 }
