body {
    font-family: "Comic Sans MS", monospace;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 30px;
}

.sizeContainer {
    padding-left: 30px;
    display: flex;
    flex-direction: row;
}

.rAndsCont {
    font-size: 26px;
}

.metricsContainer {
    border-left: solid black 2px;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    font-size: 26px;
}
.buttonsContainer{
 border-bottom: 2px solid black;
}
.metricsCont input[type=range] {
    width: 90%;
}

input[type=radio] {
    margin-right: 10px;
}

.range {
    margin-left: 30px;
    display: block;
    width: 350px;
}

table {
    outline: 5px solid black;
    height: 90%;
    width: 90%;
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
    background: white;
}
.preferences{
    display: flex;
}
table tr td {
    border: 1px solid black;
}

table tr td:hover {
    background-color: #ffeb87;
}

table tr td.elem {
    cursor: pointer;
}

table tr td.elem.wall {
    background-color: #4d4d4d;
}

table tr td.elem.wall:hover {
    background-color: rgba(101, 101, 101, 0.32);
}

table tr td.elem.start {
    background-color: green;
}

table tr td.elem.start:hover {
    background-color: rgba(2, 178, 2, 0.4);
}

table tr td.elem.finish {
    background-color: red;
}

table tr td.elem.finish:hover {
    background-color: rgba(255, 0, 0, 0.37);
}
table tr td.elem.currentCell {
    background-color: rgb(248, 213, 124);
}
table tr td.elem.currentCell:hover {
    background-color: rgb(217, 199, 147);
}
table tr td.elem.path {
    background-color: rgb(141, 124, 248);
}
table tr td.elem.path:hover {
    background-color: rgb(163, 151, 224);
}












